<div>
  <h1> Add a New Comment</h1>
</div>

<% if @comment.errors.any? %>
  <div class="alert alert-dismissable alert-danger">
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
<% end %>

<%= form_tag "/comments" do%>
<!-- Do form validations -->
  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-book fa-fw"></i></span>
    <input class="form-control" type="text" value="<%= @comment.description%>" placeholder="Description" name="description" required>
  </div>
  <br>

  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
    <input class="form-control" type="text" value="<%= @user.name%>" placeholder="Author" name="author" readonly>
  </div>
  <br>

  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-book fa-fw"></i> </span>
    <input class="form-control" type="text" value="<%= @chapter.title%>" placeholder="Chapter Title" name="chapter_name" readonly>
  </div>
  <br>

  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-book fa-fw"></i> </span>
    <input class="form-control" type="text" value="<%= @chapter.book.title%>" placeholder="Book Title" name="book_name" readonly>
  </div>
  <br>

  <%= submit_tag "Comment" %>

<% end %>

<script>
  $("form").validate();
</script>
