<div class='container'>
  <h2>Change Password</h2>
</div>

<% if @user.errors.any? %>
  <div class="alert alert-dismissable alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
<% end %>

<div class = "row">
<%= form_tag "/users/newPassword/#{@user.id}", :method => 'post' do%>
<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
    <input class="form-control" type="password" value="<%= @user.password%>" name="password" required>
  </div>
  <br>

  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
    <input class="form-control" type="password" value="<%= @user.password_confirmation%>" name="password_confirmation" required>
  </div>
  <br>

  <%= submit_tag "Save" %>
<div>
<% end %>
</div>

<script>
  $("form").validate();
</script>
