<!--
<div>
<h2> Check out newly published books </h2>
<% @new_books.in_groups_of(4, false).each_with_index do |group, index| %>
  <div class="row top-margin">
    <% group.each do |book| %>
      <div class='col-lg-3 test'>
             <a href = "/books/<%= book.id %>">
              <% if book.image_url != nil && book.image_url != "" %>
              <%= image_tag book.image_url, :class => "image-responsive" %>
              <% else %>
              <p class = "image-responsive unavailable"><%= book.title %></p>
              <% end %>
            </a>
      </div>
    <% end %>
  </div>
<% end %>
</div>
<br>

-->

<!-- also need to cut the title if the characters is too long -->
<br>
<div class = "row">
  <h2> Books </h2>
  <div class = "row">
    <h4> Newly Published Books </h4>
    <% counter = 0 %>
    <% @new_books.each do |book| %>
        <% if counter < 4 %>
            <% counter = counter + 1 %>

            <div class='col-lg-3 test'>
              <a href = "/books/<%= book.id %>">
                <% if book.image_url != nil && book.image_url != "" %>
                  <%= image_tag book.image_url, :class => "image-responsive" %>
                <% else %>
                  <p class = "image-responsive unavailable"><%= book.title %></p>
                <% end %>
            </a>
          </div>
        <% end %>
      <% end %>
  </div>

  <div class = "row">
    <h4> Top Rating Books </h4>
    <% @rating_counts[0..3].each do |book, c| %>
      <div class='col-lg-3 test'>
              <a href = "/books/<%= book.id %>">
                <% if book.image_url != nil && book.image_url != "" %>
                  <%= image_tag book.image_url, :class => "image-responsive" %>
                <% else %>
                  <p class = "image-responsive unavailable"><%= book.title %></p>
                <% end %>
            </a>
          </div>
    <% end %>
  </div>

  <div class = "row">
    <h4> Most Commented Books </h4>
    <% @comment_counts.each do |book, c| %>
      <div class='col-lg-3 test'>
              <a href = "/books/<%= book.id %>">
                <% if book.image_url != nil && book.image_url != "" %>
                  <%= image_tag book.image_url, :class => "image-responsive" %>
                <% else %>
                  <p class = "image-responsive unavailable"><%= book.title %></p>
                <% end %>
            </a>
          </div>
    <% end %>
  </div>

</div>


<div class = "row">
  <h2>Today's Top 4 Genres </h2>
  <% @top_genre.each do |g, c| %>
    <div class = "col-md-3" >
      <h4> <%= g %> </h4>
      <% counter = 0 %>
      <% @rating_counts.each do |book, c| %>
        <% if book.genre == g && counter < 4 %>
            <% counter = counter + 1 %>

            <p>
              <a href = "/books/<%= book.id %>">
                  <%= book.title %>
            </a></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="row">
  <h2>Authors</h2>
    <div class = "col-md-3">
      <h4> Productive Authors </h4>
        <% @authors.each do |a, c| %>
          <p><a href = "/users/<%= a.id %>"> <%= a.name %> </a></p>
        <% end %>
    </div>
</div>
