<!-- list general information about the book -->
<div class='row'>
  <div class='col-md-5'>
    <!-- INSERT COMIC COVER IMAGE HERE WITH ERB.
         ATTACH THE CLASS of 'img-responsive' TO THIS LINK -->
             <a href = "/books/<%= @book.id %>">
              <% if @book.image_url != nil && @book.image_url != "" %>
              <%= image_tag @book.image_url, :class => "img-responsive" %>
              <% else %>
              <p class = "img-responsive unavailable"><%= @book.title %></p>
              <% end %>
            </a>
  </div>
  <div class='col-md-7'>
    <h1><%= @book.title %></h1>
    <h4><%= @book.summary %></h4>
    <p><strong>Genre: </strong><%= @book.genre %></p>
    <p><strong>Published Date: </strong><%= @book.publish_date %></p>
    <p><strong>Author: </strong>
      <% @authors.each do |author| %>
        <%= author.username %>
      <% end %>
    </p>
    <!-- INSERT LINK TO DELETE A COMIC BOOK HERE.
         ATTACH A CLASS of 'btn btn-warning' TO THIS LINK.
         ALSO INCLUDE A CONFIRMATION MESSAGE 'Are you sure?' -->
         <!-- how to link to delete link
        only the author/creator can delete/edit the book details. also chapters can be added-->
         <%= link_to 'Delete Book', "/books/delete/#{@book.id}", data: { confirm: "Are you sure?"}, class: 'btn btn-warning' %>
  </div>

  <div class='col-md-5'>
    <p><strong>List of Chapters </strong></p>
    <% @chapters.each do |chapter| %>
      <p>
      <%= chapter.number %>
      <%= chapter.title %>
      <%= chapter.description %>
      <%= chapter.created_at %>
      </p>
    <% end %>
  </div>
</div>

		<!-- need to add author information -->

<!-- list all chapters of a book -->
