<!-- list general information about the book -->
<div class='row'>
  <div class='col-md-5'>
    <a href = "/books/<%= @book.id %>">
      <% if @book.image_url != nil && @book.image_url != "" %>
        <%= image_tag @book.image_url, :class => "img-responsive" %>
      <% else %>
        <p class = "img-responsive unavailable"><%= @book.title %></p>
      <% end %>
    </a>
  </div>
  <div class='col-md-7'>
    <h1><%= @book.title %></h1>
    <h4><%= @book.summary %></h4>
    <p><strong>Genre: </strong><%= @book.genre %></p>
    <p><strong>Published Date: </strong><%= @book.publish_date %></p>
    <p><strong>Authors: </strong>
      <% @book.users.each do |author| %>
        <a href="<%= user_url(author.id) %>" class="navbar-link"><%= author.name %></a>
      <% end %>
    </p>

    <%= link_to 'Chapters', chapters_url + "?book_id=#{@book.id}", class: 'btn btn-info' %>
    <% if !session[:user_id].blank? %>
      <% if Author.where("book_id = #{@book.id} and user_id = #{@user.id}") != [] %>
        <%= link_to 'Add Chapter', new_chapter_url + "?book_id=#{@book.id}", class: 'btn btn-primary' %>
        <%= link_to 'Add Author', "/books/author/#{@book.id}", class: 'btn btn-primary' %>

         <!-- how to link to delete link
        only the author/creator can delete/edit the book details. also chapters can be added-->
        <%= link_to 'Edit Book', edit_book_url(@book.id), class: 'btn btn-info' %>
        <br>
        <%= button_to 'Delete Book', "/books/#{@book.id}", :method => :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-warning' %>
        <br>
        <% else %>
          <% if Review.where("book_id = #{@book.id} and user_id = #{@user.id}") == [] %>
            <%= link_to 'Submit Review', new_review_url + "?book_id=#{@book.id}", class: 'btn btn-warning' %>
          <%end%>

          <% if WishList.where("book_id = #{@book.id} and user_id = #{@user.id}") == [] %>
            <%= button_to 'Add to WishList', "/wish_lists?book_id=#{@book.id}", :method => :post, class: 'btn btn-warning' %>
          <% else %>
            <%= button_to 'Remove from WishList', "/wish_lists/0?book_id=#{@book.id}", :method => :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-warning' %>
          <% end %>

          <% if BookShelf.where("book_id = #{@book.id} and user_id = #{@user.id}") == [] %>
            <%= button_to 'Add to BookShelf', "/book_shelfs?book_id=#{@book.id}", :method => :post, class: 'btn btn-warning' %>
          <% else %>
              <%= button_to 'Remove from BookShelf', "/book_shelfs/0?book_id=#{@book.id}", :method => :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-warning' %>
          <% end %>
        <% end%>
    <% end %>
  </div>
</div>

<div class ="row">
  <h2>Reviews</h2>
  <hr>
  <% if @book.reviews != [] %>
    <% @book.reviews.each do |review| %>
          <!-- display review info -->
          <div class = "row">
            <div class="col-md-3">
              <p class="navbar-text navbar-left"><a href="<%= user_url(review.user.id) %>" class="navbar-link"><%= review.user.name %></a></p>
            </div>
            <div class="col-md-3">
              <p class="navbar-text navbar-right">Rating: <%= review.rating %>/5</p>
            </div>
          </div>
      <div class = "row">
            <!-- also display rating and user name -->
            <!-- also links to edit and delete the review -->
        <p> <%= review.description %></p>
      </div>
      <% if !session[:user_id].nil? && Review.where("book_id = #{@book.id} and user_id = #{@user.id}") != [] %>
        <div class="row">
          <%= link_to 'Edit Review', edit_review_url(review.id) + "?book_id=#{@book.id}", class: 'btn btn-info' %>
          <%= button_to 'Delete Review', "/reviews/#{review.id}?book_id=#{@book.id}", :method => :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-warning' %>
        </div>
      <% end%>
      <hr>
    <% end%>
  <% else %>
    <div class = "row">
      <h4>No Reviews yet</h4>
    </div>
  <% end %>
</div>
