<div>
  <h1> Edit chapter</h1>
</div>
<%= form_tag "/chapters", :method => 'patch' do%>
<!-- Do form validations -->
  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-book fa-fw"></i></span>
    <input class="form-control" type="text" value="<%= @chapter.title%>" placeholder="Title" name="title">
  </div>
  <br>

  <!-- <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
    <input class="form-control" type="text" placeholder="Author" name="author">
  </div>
  <br> -->

  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-book fa-fw"></i> </span>
    <input class="form-control" type="text" value="<%= @chapter.description%>" placeholder="Description" name="description">
  </div>
  <br>

  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-book fa-fw"></i> </span>
    <input class="form-control" type="text" value="<%= @chapter.content_url%>" placeholder="Content url" name="content_url">
  </div>
  <br>

  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-book fa-fw"></i> </span>
    <input class="form-control" type="text" value="<%= @book.title%>" placeholder="Book Title" name="book_name" readonly>
  </div>
  <br>

  <%= submit_tag "Save" %>

<% end %>

