<!-- list general information about the book -->
<div class='row'>
  <div class='col-md-5'>
    <a href = "/books/<%= @chapter.book.id %>">
    <% if @chapter.book.image_url != nil && @chapter.book.image_url != "" %>
      <%= image_tag @chapter.book.image_url, :class => "img-responsive" %>
    <% else %>
      <p class = "img-responsive unavailable"><%= @chapter.book.title %></p>
    <% end %>
    </a>
  </div>

  <div class='col-md-7'>
    <h1><%= (@chapter.number).to_s + ". " + @chapter.title %></h1>
    <h4><%= @chapter.description %></h4>
    <p><strong>Content URL: </strong><%= @chapter.content_url %></p>

    <% if !session[:user_id].nil? %>
      <% if Author.where("book_id = #{@chapter.book.id} and user_id = #{@user.id}") != [] %>
         <!-- how to link to delete link
        only the author/creator can delete/edit the book details. also chapters can be added-->
        <%= link_to 'Edit Chapter', edit_chapter_url(@chapter.id), class: 'btn btn-info' %>
        <%= link_to 'Delete Chapter', "/chapters/#{@chapter.id}", :method => :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-warning' %>
      <% else %>
        <%= link_to 'Comment', new_comment_url + "?chapter_id=#{@chapter.id}", class: 'btn btn-primary' %>
      <% end%>
    <% end %>
  </div>
</div>

<div class ="row">
  <h2>Comments</h2>
  <hr>
  <% if @chapter.comments != [] %>
    <% @chapter.comments.each do |comment| %>
          <div class = "row">
            <div class="col-md-3">
              <p class="navbar-text navbar-left"><a href="<%= user_url(review.user.id) %>" class="navbar-link"><%= comment.user.name %></a></p>
            </div>
          </div>
      <div class = "row">
        <p> <%= comment.description %></p>
      </div>
      <% if !session[:user_id].nil? && Comment.where("chapter_id = #{@chapter.id} and user_id = #{@user.id}") != [] %>
        <div class="row">
          <%= link_to 'Delete Comment', "/comments/#{comment.id}", :method => :delete, data: { confirm: "Are you sure?"}, class: 'btn btn-warning' %>
        </div>
      <% end%>
      <hr>
    <% end%>
  <% else %>
    <div class = "row">
      <h4>No Comments yet</h4>
    </div>
  <% end %>
</div>
